[Desktop Entry]
Name=Mail (aerc)
Comment=Terminal email client
Exec=mail
Icon=mutt
Terminal=false
Type=Application
Categories=Network;Email;
StartupWMClass=aerc-mail
Keywords=mail;email;aerc;
